# Dados do robo. Nao precisa ficar no repositorio
meta
data

# Coisas boas de se ignorar =)
.vscode
.env
ibm-credentials.env
**/__pycache__

# Copias que eu faço no meu computador e ninguem precisa ter uma igual
*.old
data - Copia
*.csv
*.json
*.jl

# Alguns arquivos que criei no inicio do projeto e que não sao mais importantes
main.py
tweepy.out
get_all_tweets.py
.ipynb_checkpoints/
*.ipynb
Pipfile.lock
Pipfile
